EXPO_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id_here
EXPO_PUBLIC_FACEBOOK_APP_ID=your_facebook_app_id_here
EXPO_PUBLIC_API_URL=http://YOUR_LOCAL_IP:5000/api
EXPO_PUBLIC_ML_API_URL=http://YOUR_LOCAL_IP:8000
